# -- package-specific --
fastapi
starlette
uvicorn
inotify_simple
tqdm
wcmatch
websockets

# -- logging --
colorama

# -- sphinx docs --
sphinx
sphinx-togglebutton
furo
myst-parser

# -- testing ---
pytest
